<a href="https://colab.research.google.com/github/dmitrikru/sech/blob/colab-notebooks/python_practic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практика №1 - решение задач**

In [ ]:
print ('Hello World')

Hello World

In [ ]:
print(4,8,15,16,23,42)

4 8 15 16 23 42

In [ ]:
c="*"
print(c)
print(c*2)
print(c*3)
print(c*4)
print(c*5)
print(c*6)
print(c*7)

*
**
***
****
*****
******
*******

In [ ]:
print(" Отчёт о доходах\n 1 квартал 120000 руб.\n 2 квартал 135000 руб.\n 3 квартал 128000 руб.\n 4 квартал 142000 руб.")

 Отчёт о доходах
 1 квартал 120000 руб.
 2 квартал 135000 руб.
 3 квартал 128000 руб.
 4 квартал 142000 руб.

In [ ]:
analityc_name = input()
print('Добро пожаловать в команду,', analityc_name, '!')

Влад
Добро пожаловать в команду, Влад !

In [ ]:
name_company = input()
print(name_company, "- лидер рынка!")

Сбер
Сбер - лидер рынка!

In [ ]:
name = ('Sales Q1')
dig_strok = ('1000')
dig_columns = ('8')
print(name,'\n',dig_strok,'\n',dig_columns)

Sales Q1
 1000
 8

In [ ]:
otchet1 = ('Продажи за январь')
otchet2 = ('Продажи за февраль')
otchet3 = ('Продажи за март')

print(otchet3)
print(otchet2)
print(otchet1)

Продажи за март
Продажи за февраль
Продажи за январь

In [ ]:
base_price = 100
growth_persent = 20
new_price = base_price * (100 + growth_persent)/100
delta = (new_price - base_price)
print ('new_price =', new_price, '\n', 'delta =', delta)

new_price = 120.0
 delta = 20.0

In [ ]:
input1 = input()
input2 = input()
input3 = input()
input4 = input1 + '***' + input2 + '***' + input3
print(input4)

Северный
Центральный
Южный
Северный***Центральный***Южный

In [ ]:
region1 = 'Северный'
region2 = 'Центральный'
region3 = 'Южный'
print (region1, region2, region3, sep='***')

Северный***Центральный***Южный

In [ ]:
name = input()
print("Подключение установлено.", end=' ')
print ('Добро пожаловать', name)

Влад
Подключение установлено. Добро пожаловать Влад

In [ ]:
a=input("Разделитель:")
b=input("Название товара 1: ")
c=input("Название товара 2: ")
d=input("Название товара 3: ")
print(b,c,d,sep=' '+a+' ')

Разделитель:|
Название товара 1: Молоко
Название товара 2: Хлеб
Название товара 3: Сыр
Молоко | Хлеб | Сыр

In [ ]:
value_str = "42.7"
value_float = float(value_str)
print (value_float)
integer_part = int(value_float)
print("integer_part = ", integer_part)

42.7
integer_part =  42

In [ ]:
orders_yesterday = 10
plan = 20
deviation = abs(plan - orders_yesterday)
print('Абсолютное отклонение от плана равняется ', deviation)

Абсолютное отклонение от плана равняется  10

In [ ]:
dig1=1
dig2=2
dig3=3
dig4=4
dig5=5
max_dig = max (dig1, dig2, dig3, dig4, dig5)
min_dig = min (dig1, dig2, dig3, dig4, dig5)
print ('Наибольшее число =', max_dig)
print ("Наименьшее число =", min_dig)

Наибольшее число = 5
Наименьшее число = 1

In [ ]:
name = 'Антон'
family_name = 'Иванов'
full_name = name + " " + family_name
print('Привет,', full_name,'! Вы только что начали изучать Python')

Привет, Антон Иванов ! Вы только что начали изучать Python

In [ ]:
input1 = input()
input2 = input()
input3 = '"' + input1 + input2 +'"'
print(input3)

Каждый в этой стране должен научиться программировать,
потому что это учит думать
"Каждый в этой стране должен научиться программировать, потому что это учит думать"

In [ ]:
actual = int(input())
plan = int(input())
print('Скидка предоставляется:', actual >= plan)

999
1000
Скидка предоставляется: False

In [ ]:
actual = int(input())
plan = 18
print('Юзер вырос:', actual >= plan)

16
Юзер вырос: False

In [ ]:
s = int(500)
v1 = int(50)
v2 = int(70)
t = s / (v1 + v2)
print(t)

4.166666666666667

In [ ]:
catet_a = int(443)
catet_b = int(390)
s = (catet_a * catet_b)/2
print (s)

86385.0

In [ ]:
tf = float(450.55)
tc = (5/9 * (tf-32))
print (tc)

232.5277777777778

In [ ]:
revenue_str = (438746.78)
courier_name = ('Антон')
bonus = (1)
full_bonus = (revenue_str * bonus) / 100
bonus_int = int(full_bonus)
print ('report = "Курьер', courier_name, 'получит бонус', bonus_int , 'р."')

report = "Курьер Антон получит бонус 4387 р."